@keyframes appear {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

#first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: 1s opacity linear;
}

.first__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.first__background img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.first__title {
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 4rem;
  text-transform: uppercase;
}

.first__title span {
  display: block;
  animation: 1s appear forwards;
}

.first__title span:first-child {
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
  font-size: 3rem;
  opacity: 0;
  animation-delay: .5s;
}

.first__title span:last-child {
  font-size: 4rem;
  opacity: 0;
  animation-delay: 1s;
}

.description {
  width: 470px;
  margin-top: 44px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  opacity: 0;
  animation: 1s appear forwards;
  animation-delay: 1.5s;
}

.description__paragraph {
  margin-top: 2rem;
}

.first__button {
  margin-top: 73px;
  width: 500px;
  opacity: 0;
  animation: appear 1s forwards;
  animation-delay: 2s;
}