@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../fonts/inter/Inter-Medium.ttf');
}