@keyframes tankAppear {
  0% {
    right: -500px
  }
  100% {
    right: -20px;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

#second {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 100%;
  max-height: 1000px;
  opacity: 0;
  transition: 1s opacity linear;
}

.second__tank {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.second__tank img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: contain;
}

.second__tank img:first-child {

}

.second__tank img:last-child {
  top: -25px;
  right: -20px;
  animation: 1.2s tankAppear forwards ease-out;
}

.second__title {
  font-family: 'Montserrat';
  font-weight: 700;
}

.second__title span:first-child {
  font-size: 3rem;
  animation-delay: 1s;
  animation: 2s bounce forwards;
}

.second__title span:last-child {
  font-size: 2.5rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
}

.second__joke {
  margin-top: 8px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.4);
}

.second__congratulation {
  width: 360px;
  margin-top: 60px;
  text-align: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.second__button {
  margin-top: 60px;
  padding: 15px 30px;
}

.second__post-scriptum {
  margin-top: auto;
  text-align: center;
  font-family: 'Inter';
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-height: 768px) {
  .second__joke {
    margin-top: 8px;
    font-size: 1rem;
  }

  .second__congratulation {
    margin-top: 40px;
  }

  .second__button {
    margin-top: 20px;
    height: 60px;
  }
}